@mixin base-button {
    width: 14.3em;
    height: 2.5em;
    color: $brand-white;
    border-style: none;
    font-size: $button-text-size;
    &:hover {
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    }

    &:disabled {
        background-color: $neutral-grey;
        color: $black-text;
    }
}

@mixin primary-button {
    @include base-button;       
    background-color: $primary-orange;
    
}

@mixin primary-button-medium {
    @include primary-button;
    width: 8.5em;
}

@mixin button-small {
    @include base-button;
    width: 6.875em;

    &:hover {
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
    }

    &:disabled {
        background-color: $neutral-grey-09;
        color: $black-text;
    }
    
}

@mixin primary-button-small {
    @include button-small;
    background-color: $primary-orange;
}

@mixin delete-button-small {
    @include button-small;
    background-color: $brand-red;
}

@mixin edit-button-small {
    @include button-small;
    border: 1px solid $neutral-contrast-text;
    color: $black-text;

    &:hover {
        background-color: rgba($primary-orange, 8%);
    }
    
    &:active {
        background-color: rgba($primary-orange, 12%);
    }
}

@mixin input-field {
    max-width: $base-size * 27;
    height: 3.625em;
    border: 1px solid $brand-black;
    border-radius: 5px;
    padding: $space-8 $space-16;

}



    