
:root {
    font-size: 16px;
}

body {
    font-size: $base-size;
    font-family: $font-stack;
    color: $black-text;
    margin: 0;
}

h1 {
    font-size: $h1-size;
    
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h1, h2, h3 { 
    font-family: $font-stack-bold; 
}

input {
    @include input-field;

    &:hover {
        border-color: $primary-orange;
    }

    &.error {
        border-color: $brand-red-07;
    }

    &:disabled {
        border-color: $neutral-grey;
    }
    + .icon {
        width: 1.5em;
        height: 1.5em;
    }

    &[type="password"] {
        
        + .eye::after {
            content: url('/src/assets/images/EyeSlash.png');

            &.unmasked::after {
                content: url('/src/assets/images/Eye.png');
            }
        }
        &.unmasked::after {
            content: url('/src/assets/images/Eye.png');
        }

    }

}

.menu {
    font-size: $menu-text-size;
    font-variant: small-caps;
}